@model IEnumerable<Centros.Model.Institucion>

@{
    ViewBag.Title = "Listado de instituciones";
}

<h2>Listado</h2>

<p>
    @Html.ActionLink("Crear nuevo", "Create")
</p>
<table>
    <tr>
        <th>Nombre</th>
        <th>Jurisdicción</th>
        <th>Comandos</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.Nombre</td>
        <td>@item.Jurisdiccion.Nombre</td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.Id }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.Id })
        </td>
    </tr>
}
</table>

